body
  padding: 0
  margin: 0
#app
  text-align: center
  box-sizing: border-box
  h1
    font-size: 18px
  >div
    margin: 0 auto
button.default
  border: none
  outline: none
  background-color: black
  border-radius: 10px
  display: block
  width: 80%
  padding: 10px
  margin: 10px auto
  box-sizing: border-box
  color: white
